@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  /* Primary */
  --P50 : #E7EBEE;
  --P75 : #9EACBB;
  --P100: #76899E;
  --P200: #3A5774;
  --P300: #123458;
  --P400: #0D243E;
  --P500: #0B2036;

  /* Secodary */
  --S50 : #FBFAF9;
  --S75 : #EDE9E4;
  --S100: #E6E0D9;
  --S200: #DBD2C9;
  --S300: #D4C9BE; 
  --S400: #948D85;
  /* --S500: #817B74; */


  /* White */
  --W100: #F7F6F4;
  --W75: #F9F8F7;

  /* Green */
  --G   : #91CCB1;

  /* Red */
  --R   : var(--S300);
  --shadow: 4px 4px 10px 2px rgba(116, 158, 203, 0.050);
  /* box-shadow: offset-x offset-y blur-radius spread-radius color inset; */
}

/* Universal */
*{
  font-family: "Outfit", sans-serif;
}
*::-webkit-scrollbar {
  display: none !important; /* Chrome, Safari */
}

/* body */
body{
  background-color: var(--W75);
  align-items: center;

  /* scrollbar */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE/Edge */
}
body::-webkit-scrollbar {
  display: none !important; /* Chrome, Safari */
}

p{
 margin: 0;
 padding: 0;
 font-weight: 500;

}


/* Header */
h1, h2, h3, h4 {
  color: var(--P200);
}

/* Container */
.container{
  justify-items: center;
}

/* Navigation */

.unmuted {
  background-color: var(--P50);
  color: var(--P200) !important;
  font-weight: 500;
}

.unselected{
  color: var(--S300);
  text-decoration: none;
  transition: box-shadow 0.3s ease-in-out;
}

.unselected:hover{
  color: var(--S400);
  background-color: var(--S100);
  text-decoration: none;
  transition: box-shadow 0.3s ease-in-out;
}


.card{
  background-color: var(--S50);
  border-style: none;
  box-shadow: var(--shadow);
}


/*-------- log-form -------*/


.form-label{
  color: var(--P200) !important;
}

.form-control{
  color: #9EACBB;
  background-color: var(--P50);
  border-style: none;
  transition: box-shadow 0.3s ease-in-out;
}
.form-control::placeholder{
  font-size: 0.9rem;
  color: var(--P750);
}
.form-control:focus::placeholder{
  color: transparent;
}
.form-control:focus, select:focus{
  background-color: var(--P50);
  border-color: var(--P100);     /* เปลี่ยนสีขอบ */
  box-shadow: 0px 0px 0px 3px rgba(206, 197, 189, 0.565); /* เพิ่ม glow รอบ input */
  outline: none;            
}

/*hide slider */ 

/* input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
 -webkit-appearance: none;
 margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
} */


.btn{
  color: var(--W100);
  background-color: var(--P200);
}

.btn:hover{
  font-weight: 600;
  background-color: var(--P100) !important;
  color: var(--W100);
}


/*-------- Config -------*/

.config-table{
  max-width: 75%;
}

/* .card-body{
  
} */

.holder{
  flex-direction: row;
  box-shadow: none;
}

.card-footer{
  background-color: var(--G);
  border-style: none;
  height: 0.5rem;
  padding: 0;
}




/*-------- logs -------*/

table-responsive{
  background-color: transparent;
}
th{
  font-weight: 500;
  color: var(--P200);
}
td{
  font-weight: 200;
  color: var(--P100)
}

th,td{
  width: 10rem;
  background-color: transparent !important;
  text-align: center;
}