@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #1B2431;
  --foreground: #2E2F35;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1B2431;
    --foreground: #2E2F35;
  }
}

body {
  color: #2E2F35;
  background: #1B2431;
  font-family: 'Rajdhani';
  text-transform: uppercase;
  font-size: 24px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#app {
  margin: 20px auto;
  padding: 2vw;
  text-align: center;
}